.App {
  text-align: center;
  background: black;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.App-Body {
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Ride-Rules {
  width: 30%;
  margin: auto;
}

.Twitter-Embed {
  margin: auto;
}

h2 {
  font-family: Benguiat;
  font-size: calc(30px + 2vmin);
  line-height: 55px;
  color: #F4A31D;
  font-variant:small-caps;
  font-weight:bold;
}

.Warning-Heading {
  font-family: Benguiat;
  font-variant:small-caps;
  font-weight:bold;
  color: red;
  font-size: 1.53em;
  font-weight: 700;
}

footer {
  color: black;
  background-color: #F4A31D;
  height: 6vh;
  padding-top: .75rem;
}

footer .footer-text {
  font-size: calc(20px + 2vmin);
  font-weight: 900;
  text-transform: uppercase;
}
