.App {
  text-align: center;
  background: black;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.App-Body {
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Ride-Rules {
  width: 40%;
  margin: 1rem auto;
}

.Twitter-Embed {
  margin: auto;
  transform: rotate(5deg);
  padding: 1rem;
  background-color: #504f4f;
  border-radius: 10px;
}

h2 {
  font-family: Benguiat;
  font-size: calc(70px + 2vmin);
  line-height: 85px;
  color: #F4A31D;
  font-variant:small-caps;
  font-weight:bold;
}

.Warning-Heading {
  font-variant:small-caps;
  color: black;
  font-size: calc(60px + 2vmin);
  font-weight: 900;
  background-color: red;
  border-radius: 5px;
  padding-bottom: 2.25rem;
}

.Warning-Heading section {
  display: flex;
  width: 100%;
  height: 80px;
  margin: auto;
}

.Warning-Heading p {
  margin: auto; /* Important */
  text-align: center;
}

footer {
  color: black;
  background-color: #F4A31D;
  height: 6vh;
  padding-top: .75rem;
}

footer .footer-text {
  font-size: calc(20px + 2vmin);
  font-weight: 900;
  text-transform: uppercase;
}
